// COLORS
$color-background: #f5f5f5;
$color-link: #346bd4;

// Black shades
$color-black: #000;

// White
$color-white: #fff;
$color-grey: #858585;
$color-grey-light-1: #b0b0b0;
$color-grey-dark-1: #666666;

// Responsiveness
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 59.3em;   // 900px flexible
$bp-small: 43.75em; // 700px
$bp-smallest: 34.3em; // 550px
