@import "../../../../assets/sass/main.scss";

.container {
  padding: 6rem 5rem;
  background-color: $color-black;
  color: $color-white;
  border-radius: 3rem;
  height: calc(100vh - 8rem);
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 4rem;
  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

  h1 {
    @include MonteBold;
    font-size: 3.6rem;
    line-height: 4.4rem;
    margin-bottom: 6rem;
  }
  .navItems {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .navItem {
      @include MonteNormal;
      font-size: 1.8rem;
      line-height: 2.2rem;
      display: flex;
      gap: 2rem;
      color: $color-white;
      &:hover {
        cursor: pointer;
        @include MonteBold;
      }
    }
    .active {
      @include MonteBold;
    }
  }
  .bottomTexts {
    @include MonteNormal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    p {
      cursor: pointer;
    }
    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
