@import "../../../../assets/sass/main.scss";

.schedule {
  border-left: 0.5rem solid $color-grey;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;

  h5 {
    @include LatoBold;
    color: $color-grey-dark-1;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 0.5rem;
  }
  p {
    @include LatoNormal;
    color: #999999;
    margin-bottom: 0.5rem;
  }
}
