@import "../../../../assets/sass/main.scss";

.container {
  width: 100%;
  flex: 1;
  border-radius: 2rem;
  padding: 2.5rem;

  .icon {
    display: flex;
    justify-content: end
  }

  p {
    @include LatoNormal;
    margin-bottom: 0.5rem;
  }
  h3 {
    @include MonteBold;
    font-size: 2.4rem;
    line-height: 3.3rem;
  }
}
